* {
    color: #FBE8A6;
    /* rgb(251, 232, 166) */
    color: #F4976C;
    /* rgb(244, 151, 108) */
    color: #303C6C;
    /* rgb(48, 60, 108)   */
    color: #B4DFE5;
    /* rgb(180, 223, 229) */
    color: #D2FDFF;
    /* rgb(210, 253, 255) */
}