@media only screen and (max-width: 1200px) {
    html {
        font-size: 18px;
    }

    .headerbox {
        transform: translate(-35%, -50%);
    }
}

@media only screen and (max-width: 1023px) {
    html {
        font-size: 16px;
    }

    .headerbox {
        transform: translate(-30%, -50%);
    }

    .queryclearfix2 {
        content: "";
        display: table;
        clear: both;
        float: none;
    }

    .quote:before {
        top: -5%;
        left: 30%;
    }

    .quote:after {
        top: 95%;
        left: 65%;
    }

    .social li {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .headerlink {
        margin-top: 100px;
        display: none;
    }

    .queryclearfix1 {
        content: "";
        display: table;
        clear: both;
        float: none;
    }

    .mobilelinkicon {
        display: block;
    }

    .textbox {
        padding: 0px 20px 20px 0px;
    }

    .headerbox {
        transform: translate(-20%, -50%);
    }

    h1 {
        word-spacing: 1px;
        font-size: 200%;
    }

    .button {
        width: 25%;
        display: block;
        margin-left: 5%;
    }

    .col, .skillbox {
        width: 50%;
    }

    .quote, .textbox, .awardbox, .contactbox {
        width: 100%;
        font-size: 110%;
    }

    .boxflex {
        display: block;
    }

    ul.awardbox {
        height: 50vh;
    }

    .quote:before {
        top: -5%;
        left: 20%;
    }

    .quote:after {
        top: 95%;
        left: 70%;
    }

    .portrait {
        margin-top: 0px;
    }

    .contactbox {
        margin-bottom: 100px;
        text-align: center;
    }

    .imgbox {
        width: 50%;
        margin: 0px 25%;
    }

    .social li {
        margin-left: 15px;
    }

    .aboutme, .award, .contact {
        height: 150vh;
    }
    
    .info i {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .headerbox {
        transform: translate(-14%, -50%);
    }

    h1 {
        font-size: 150%;
    }

    .button {
        margin-left: 1%;
    }

    .quote:before {
        top: -5%;
        left: 10%;
    }

    .quote:after {
        top: 95%;
        left: 80%;
    }

    .skill {
        height: 200vh;
    }

    .skillbox {
        width: 100%;
    }

    ul.awardbox {
        height: 25vh;
    }
}