/*  DEFAULT   ================================================================================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: sans-serif, 'Lato';
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-display: fallback;
}

/*  REUSABLE   ================================================================================= */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    overflow-x: hidden;
}

h1, h2 {
    letter-spacing: 1px;
}

h1 {
    font-size: 250%;
    font-weight: 700;
    word-spacing: 5px;
    color: white;
    line-height: 125%;
    margin-bottom: 40px;
}

h2 {
    text-transform: uppercase;
    color: #303C6C;
    font-size: 200%;
    font-weight: 700;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #303C6C;
    margin: 5px auto 0px auto;
}

ul {
    list-style-type: none;
}

li {
    color: black;
    font-weight: 500;
    font-size: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}

header, section {
    width: 100vw;
    height: 100vh;
}

header {
    background: linear-gradient(45deg, rgba(48, 60, 108, 0.6), 
        rgba(244, 151, 108, 0.55), rgba(251, 232, 166, 0.5)), url(../img/header_background.jpg?format=webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    padding: 50px;
}

footer {
    text-align: center;
    background-color: #B4DFE5;
    color: black;
    padding: 20px;
    line-height: 125%;
    width: 100vw;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

sup {
    vertical-align: super;
    font-size: 50%;
}

sub {
    vertical-align: sub;
    font-size: 50%;
}

.box {
    max-width: 1140px;
    margin: 0px auto;
}

.box em,
.box p {
    text-align: center;
}

.button {
    text-decoration: none;
    color: darkblue;
    border: 3px solid darkblue;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 0px 5px;
    width: 200px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.button:hover,
.button:active {
    background-color: darkblue;
    color: white;
}

/*  HEADER   =================================================================================== */
.githublogo {
    width: 50px;
    height: 100%;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: -75px;
}

.headerlink {
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 25px;
}

.headerlink li {
    display: inline-block;
    margin-right: 25px;
}

.headerlink li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: all 0.5s;
    padding: 2.5px 0px;
}

.headerlink li a:hover,
.headerlink li a:active {
    border-bottom: 2.5px solid #555555;
}

.headerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1140px;
}

.queryclearfix1, .queryclearfix2 {
    float: left;
}

/*  STICKY   =================================================================================== */
.sticky {
    background-color: rgba(244, 151, 108, 0.9);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 900;
    width: 100%;
    padding-bottom: 10px;
}

.sticky .githublogo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sticky .headerlink {
    margin-top: 30px;
}

/*  MOBILE LINK ICON   ========================================================================= */
.mobilelinkicon {
    font-size: 200%;
    color: darkblue;
    position: absolute;
    top: 40px;
    right: 50px;
    display: none;
    cursor: pointer;
}

.sticky .mobilelinkicon {
    top: 25px;
}

/*  SECTION 1   ================================================================================ */
.aboutme {
    background-color: rgba(251, 232, 166, 0.9);
}

.quote {
    line-height: 150%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    position: relative;
    font-style: italic;
    font-weight: 700;
}

.quote:before {
    content: "\201C";
    font-size: 400%;
    position: absolute;
    top: -5%;
    left: 35%;
}

.quote:after {
    content: "\201D";
    font-size: 400%;
    position: absolute;
    top: 95%;
    left: 60%;
}

.textbox {
    color: black;
    border-radius: 20px;
    background-color: rgba(244, 151, 108, 0.3);
    border: 3px solid #D2FDFF;
    box-shadow: 5px 5px 15px 5px #303C6C;
    padding: 0px 20px 20px 20px;
    font-size: 100%;
}

.textbox h3 {
    text-align: center;
    margin: 10px auto;
    font-size: 150%;
}

.textbox ul {
    text-align: left;
    width: 95%;
    padding-left: 20px;
}

.textbox ul,
.textbox ul li {
    line-height: 125%;
}

.portrait {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 20px ridge #F4976C;
    margin-top: -25px;
}

/*  SECTION 2   ================================================================================ */
.skill {
    background-color: rgba(251, 232, 166, 0.8);
}

.skillbox {
    margin: 50px 0px 0px 0px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.skillicon {
    height: 50%;
    width: 50%;
    margin: 0px 25%;
    border-radius: 50%;
    border: 2px solid #F4976C;
    box-shadow: 5px 5px 15px 5px #F4976C;
    transition: all 0.5s;
    cursor: pointer;
}

.skillicon:hover,
.skillicon:active {
    transform: scale(1.2);
}

.skillicon img {
    border-radius: 50%;
    width: 100%;
    transition: all 0.5s;
    background-color: #F0DB4F;
}

.skillicon:hover img,
.skillicon:active img {
    filter: brightness(25%);
}

.skilltitle {
    color: white;
    font-size: 150%;
    font-weight: 700;
    top: 50%;
    left: 50%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, 50%);
    transition: all 0.5s;
}

.skillicon:hover .skilltitle,
.skillicon:active .skilltitle {
    transform: translate(-50%, -50%);
    opacity: 1;
}

/*  SECTION 3   ================================================================================ */
.award {
    background-color: rgba(251, 232, 166, 0.9);
}

.boxflex {
	display: -webkit-flex;
	display: flex;
}

.awardbox {
    background-color:#303C6C;
    width: 48%;
    margin: 75px 1% 0px 1%;
    font-weight: 500;
    padding: 10px;
    border: 5px solid #CD7F32;
    box-shadow: 5px 5px 15px 5px #F4976C;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: goldenrod;
}

/*  SECTION 4   ================================================================================ */
.contact {
    background: linear-gradient(45deg, rgba(48, 60, 108, 0.6), 
        rgba(244, 151, 108, 0.55), rgba(251, 232, 166, 0.5)), url(../img/contact_background.jpg?format=webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
}

.info {
    line-height: 200%;
    margin-top: 50px;
}

.info li {
    font-weight: 700;
    font-size: 95%;
}

.contacticon {
    color: #303C6C;
    font-size: 150%;
}

.info .contacticon:hover,
.info .contacticon:active {
    transform: scale(1.2);
}

.social li {
    margin-top: 50px;
    margin-left: 25px;
    display: inline-block;
    color: white;
    font-size: 250%;
    transition: all 0.5s;
    cursor: pointer;
}

.social li:hover,
.social li:active {
    transform: scale(1.2);
}

.social li .facebook:hover,
.social li .facebook:active {
    color: #303C6C;
}

.social li .twitter:hover,
.social li .twitter:active {
    color: #6BD4E2;
}

.social li .google:hover,
.social li .google:active {
    color: #CC0000;
}

.social li .instagram:hover,
.social li .instagram:active {
    color: #833AB4;
}

.supportlogo {
    margin-top: 10px;
    width: 50px;
}